/* Tables */

.table {
  font-size: 1.4rem;
  margin-bottom: var(--spacingXSmall);
  max-width: 100%;
}
  .table--overflow {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }
  @media (max-width: 767px) {
    .table {
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
    }
  }
  .table table {
    width: 100%;
  }

  .table--top-border {
    border-top: 0.3rem solid var(--colorGreyLight);
  }

  .table--bottom-border {
    border-bottom: 0.3rem solid var(--colorGreyLight);
  }

.table th,
.table td {
  padding: var(--spacingXSmall) var(--spacingSmall);
}

.table th {
  border-bottom: 0.3rem solid var(--colorGreyLight);
  font-weight: var(--fontWeightPrimaryBold);
}

.table td {
  border-top: 0.1rem solid var(--colorGreyLight);
}
  .table tr:first-child td {
    border-top: none;
  }

/* Hovers for items bound with `rowLink` */
.table tr[data-view-row-link]:hover {
  cursor: pointer;
}
  .table tr[data-view-row-link]:hover td {
    background-color: transparent;
    transition-property: border-color, background-color, color;
    transition-duration: 80ms;
  }
  .table tr[data-view-row-link]:hover td {
    background-color: var(--colorBlueHint);
    border-color: var(--colorBlueLight);
    color: var(--colorBlueDark);
  }

.table th a,
.table th button {
  color: var(--colorGreyDark);
  text-decoration: none;
}
  .table th a:hover,
  .table th a:focus,
  .table th button:hover,
  .table th button:focus {
    color: var(--colorLinkHover);
    text-decoration: underline;
  }

/* Sorting */

.sort--desc:after {
  border: solid transparent;
  border-color: transparent;
  border-top-color: currentColor;
  border-width: 4px;
  content: " ";
  display: inline-block;
  position: relative;
  height: 0;
  margin-left: var(--spacingXSmall);
  pointer-events: none;
  top: 0.2rem;
  width: 0;
}

.sort--asc:after {
  border: solid transparent;
  border-color: transparent;
  border-bottom-color: currentColor;
  border-width: 4px;
  content: " ";
  display: inline-block;
  position: relative;
  height: 0;
  margin-left: var(--spacingXSmall);
  pointer-events: none;
  top: -0.2rem;
  width: 0;
}

/* Alignment */

.va-top {
  vertical-align: top;
}

.va-middle {
  vertical-align: middle;
}

.va-bottom {
  vertical-align: bottom;
}
