/**
 * Base
 */

html {
  font-size: 62.5%;
}
@media (min-width: 640px) and (max-width: 767px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 639px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: var(--colorGreyHint);
  color: var(--colorGreyDark);
  font-family: var(--fontPrimaryFallback);
  font-size: 1.5rem;
  line-height: 1.4;
  overflow-x: hidden;
}
.fonts-loaded body {
  font-family: var(--fontPrimary);
}
@media (min-width: 1400px) {
  body {
    display: flex;
  }
}
